<div class="container">
  <% @comics.each do |comic| %>
    <a href="http://amazon.jp/dp/<%= comic.asin %>/"><%= image_tag(comic.image_path) %></a>
  <% end %>
</div>

<div class="container">
  <%= paginate @comics %>
</div>
